[mon_groupe]
monserveur ansible_host=192.168.0.100 ansible_connection=ssh cms=wordpress host_name=blog.local.fr ansible_user=user ansible_password=resu ansible_become_method=su ansible_become_password=toor
