<?php
/**
 * La configuration de base de votre installation WordPress.
 *
 * Ce fichier est utilisé par le script de création de wp-config.php pendant
 * le processus d’installation. Vous n’avez pas à utiliser le site web, vous
 * pouvez simplement renommer ce fichier en « wp-config.php » et remplir les
 * valeurs.
 *
 * Ce fichier contient les réglages de configuration suivants :
 *
 * Réglages MySQL
 * Préfixe de table
 * Clés secrètes
 * Langue utilisée
 * ABSPATH
 *
 * @link https://fr.wordpress.org/support/article/editing-wp-config-php/.
 *
 * @package WordPress
 */

// ** Réglages MySQL - Votre hébergeur doit vous fournir ces informations. ** //
/** Nom de la base de données de WordPress. */
define( 'DB_NAME', '{{ db_name }}' );

/** Utilisateur de la base de données MySQL. */
define( 'DB_USER', '{{ db_user }}' );

/** Mot de passe de la base de données MySQL. */
define( 'DB_PASSWORD', '{{ db_password }}' );

/** Adresse de l’hébergement MySQL. */
define( 'DB_HOST', '{{ db_host }}' );

/** Jeu de caractères à utiliser par la base de données lors de la création des tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/**
 * Type de collation de la base de données.
 * N’y touchez que si vous savez ce que vous faites.
 */
define( 'DB_COLLATE', '' );

/**#@+
 * Clés uniques d’authentification et salage.
 *
 * Remplacez les valeurs par défaut par des phrases uniques !
 * Vous pouvez générer des phrases aléatoires en utilisant
 * {@link https://api.wordpress.org/secret-key/1.1/salt/ le service de clés secrètes de WordPress.org}.
 * Vous pouvez modifier ces phrases à n’importe quel moment, afin d’invalider tous les cookies existants.
 * Cela forcera également tous les utilisateurs à se reconnecter.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         's2MY=8xdwo{4pN{a*siVot}qw3q`sfi{5E8^h@F9?Nvp%`#fj4W& b>fUQU@o?ID' );
define( 'SECURE_AUTH_KEY',  'd`~vbz){YZZ0yytCD0fuz oZ`D0pjv/OCf@3p0YjP~i.^^^GxK-iK!7&mmVQ[2|Q' );
define( 'LOGGED_IN_KEY',    'K*i*hg7K!6XqI8vxkJ}XemR_G~OxeDE%g3Fkara&h$xW!{*31K@osC=HKm,ETSIq' );
define( 'NONCE_KEY',        '`#+Ys%ld[b=<rYyZu;Ng=CJ;~G9>fq(Vt7^A[)64t~NMRrR.$X|a9(m*<Z?P55}M' );
define( 'AUTH_SALT',        '@z#a_]5pbnKE0=;b}>eT =BSmy@JBN`4dj^YmfFNbY}d#$j%hXa~c`Q~ibh@5i2p' );
define( 'SECURE_AUTH_SALT', 'wKyt]N?pPBkk;[5!+Vky7S-coVXrUI.??ik+=c`q*!@UjrLE14@*qs$?2=xdes?X' );
define( 'LOGGED_IN_SALT',   'MA+*5cTv$4Lk@t|m2{5a%:`Wj(9Ww(DA0zTHGP^N_P)/,g@NH?FYQg~Sljw%!?}S' );
define( 'NONCE_SALT',       'E^.%%3PL;L{Kz3+z15(!NVN&qe.:iQsc}btF48U#~>ys%p?58*{+.dy&%~ks|<_M' );
/**#@-*/

/**
 * Préfixe de base de données pour les tables de WordPress.
 *
 * Vous pouvez installer plusieurs WordPress sur une seule base de données
 * si vous leur donnez chacune un préfixe unique.
 * N’utilisez que des chiffres, des lettres non-accentuées, et des caractères soulignés !
 */
$table_prefix = 'wp_';

/**
 * Pour les développeurs : le mode déboguage de WordPress.
 *
 * En passant la valeur suivante à "true", vous activez l’affichage des
 * notifications d’erreurs pendant vos essais.
 * Il est fortement recommandé que les développeurs d’extensions et
 * de thèmes se servent de WP_DEBUG dans leur environnement de
 * développement.
 *
 * Pour plus d’information sur les autres constantes qui peuvent être utilisées
 * pour le déboguage, rendez-vous sur le Codex.
 *
 * @link https://fr.wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* C’est tout, ne touchez pas à ce qui suit ! Bonne publication. */

/** Chemin absolu vers le dossier de WordPress. */
if ( ! defined( 'ABSPATH' ) )
  define( 'ABSPATH', dirname( __FILE__ ) . '/' );

/** Réglage des variables de WordPress et de ses fichiers inclus. */
require_once( ABSPATH . 'wp-settings.php' );
